*{
    margin: 0;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 0.25em;
    grid-gap: 0.25em;
}
#heading{
    grid-column: 1/span 2;
}
.gallery > div > img{
    width: 45em;
    height: 25em;
    border: 0.25em solid black;
    border-radius: 0.5em;
}
p{
    text-align: center;
    font-size: 5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}