*{
    margin: 0;
}
.header{
    display: flex;
    background-color: wheat;
    justify-content: space-between;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5em;
    flex-shrink: 1;
}
a{
    text-decoration: none;
    color: darkred;
    font-size: 1.45em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:hover{
    background-color: black;
    color: wheat;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.3em;
    transition: all 0.5s ease;
}
.main{
    display: flex;
    flex-direction: column;
}
.main #image{
    background-image: url(Tagore_library.jpg);
    background-size: cover;
    height: 35em;
    opacity: 0.98;
    filter: brightness(50%);
}
.main #intro{
    z-index: 1;
    position: absolute;
    align-self: center;
    top: 11.75em;
    flex-shrink: 1;
}
h1{
    color: wheat;
    font-size: 8.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    text-shadow: 10px 10px 10px black;
}
.info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: black;
    border: 0.75em solid black;
    border-radius: 1.25em;
    margin: 0.40em;
    align-items: center;
    grid-gap: 0.15em;
    overflow: scroll;
}
.info div img{
    width: 45em;
    height: 25em;
    border: 0.25em solid black;
    border-radius: 0.5em;
}
p{
    color: wheat;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25em;
    text-align: center;
    word-spacing: 0.75em;
    letter-spacing: 0.10em;
    text-shadow: 5px 5px 11px gold;
}
.donate{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: darkred;
    border: 0.75em solid darkred;
    grid-gap: 1em;
}
.donate div img{
    border: 0.25em solid darkred;
    border-radius: 0.5em;
}
form {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    width: 60%;
}
input, label {
    font-size: 1.5rem; /* Adjust font size */
    width: 120%; /* Make input fields full-width */
    margin-bottom: 15px; /* Add spacing between fields */
}
label{
    color: wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 11px gold;;
}
#button{
    width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer{
    display: flex;
    background-color: wheat;
    justify-content: space-evenly;
    height: 5em;
    align-items: center;
}
.footer > div > p{
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-shadow: 5px 5px 11px gray;
}
#button:hover{
    background-color: black;
    color: wheat;
    border: 0.15em solid black;
    border-radius: 0.5em;
    transition: all 0.5s ease;
}