*{
    margin: 0 ;
}
.header{
    background-image: url(IMG_20241109_094457.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
}
#main_heading{
    text-align: center;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    padding-left: 0px;
}
.navigation li{
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
}